{% extends "base.html" %}

{% block conteudo %}
    <p class="text-center">Bem-vindo ao sistema de cotação e entregas</p>
    
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="cep" name="cep" placeholder="Digite seu CEP" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">🔎</button>
        </div>
    </form>
    
    {% if cidade %}
        <div class="text-center">
            <p>{{ rua }}, {{ bairro }} - {{ cidade }} - {{ uf }} - {{ cep }}</p>
            </div>
            {% else %}
        <div class="text-center">
            <p>{{ erro }}</p>
        </div>
    {% endif %}
    
    <div class="row">
         <!-- Card SEDEX -->
        {% if cep %}
        <div class="col-md-4">
            
            <div class="card">
             <!--<img src="{URL_DA_IMAGEM_SEDEX}" class="card-img-top" alt="Imagem SEDEX"> -->
                <div class="card-header">
                    <p class="text-center"><h3 class="text-center">Sedex</h3></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prazo para entrega até {{ temposedex }} dias</h5>
                    <p class="card-text">Entrega rápida e eficiente para suas encomendas. Chegue ao seu destino com agilidade.</p>
                    <a href="#" class="btn btn-primary">R$ {{ valorsedex }}</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card">
             <!--<img src="{URL_DA_IMAGEM_PAC}" class="card-img-top" alt="Imagem PAC">-->
                <div class="card-header">
                    <p class="text-center"><h3 class="text-center">Pac</h3></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prazo para entrega até {{ tempopac }} dias</h5>
                    <p class="card-text">Escolha o serviço PAC para um prazo econômico de entrega. Ideal para quem busca um custo-benefício vantajoso.</p>
                    <a href="#" class="btn btn-primary">R$ {{ valorpac }}</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card">
             <!--    <img src="{URL_DA_IMAGEM_MOTOBOY}" class="card-img-top" alt="Imagem Motoboy">-->
                <div class="card-header">
                    <p ><h3 class="text-center">Motoboy</h3></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Entrega Rápida Local</h5>
                    <p class="card-text">Serviço de motoboy para entregas locais rápidas e eficientes. Receba suas encomendas no mesmo dia.</p>
                    <a href="#" class="btn btn-primary">R$ {{ valorsedex }}</a>
                </div>
            </div>
        </div>
        
        {% endif %}
    </div>
    
      

{% endblock conteudo %}
