{% extends "base.html" %}

{% block conteudo %}
<h4><p class="text-center">Bem-vindo ao sistema de cotações e entregas</p></h4>


<form class="row g-3" action="" method="post">
    {% csrf_token %}

    <div class="col-md-12">
        <label for="cep" class="form-label">CEP</label>
        <input type="int" max="9" class="form-control" id="cep" name="cep" placeholder="Digite seu CEP" aria-label="CEP" aria-describedby="button-addon2">
    </div>
    <div class="col-md-2">
        <label for="altura" class="form-label">Altura</label>
        <input type="number" class="form-control" id="altura" name="altura" placeholder="Altura" value="2">
    </div>

    <div class="col-md-2">
        <label for="largura" class="form-label">Largura</label>
        <input type="number" class="form-control" id="largura" name="largura" placeholder="Largura" value="12">
    </div>

    <div class="col-md-3">
        <label for="comprimento" class="form-label">Comprimento</label>
        <input type="number" class="form-control" id="comprimento" name="comprimento" placeholder="Comprimento" value="17">
    </div>

    <div class="col-md-2">
        <label for="peso" class="form-label">Peso</label>
        <input type="number" class="form-control" id="peso" name="peso" placeholder="Peso" min="0" max="30" value="2">
    </div>

    <div class="col-md-2 d-flex align-items-end"><!-- Contêiner flexível -->
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">CONSULTAR</button>
    </div>
</form>

    {% if cidade %}
    <br>
    <div class="card-header">
        <div class="text-center">
            <h5><p>{{ rua }}, {{ bairro }} - {{ cidade }} - {{ uf }} - {{ cep }}</p></h5>
            </div>
        </div>
        <br>
    {% else %}
            <br>
            <div class="card-header">
                <p class="text-center">{{ erro }}</p>
            </div>
    
    {% endif %}
    
    <div class="row">
         <!-- Card SEDEX -->
        {% if cep %}
        <div class="col-md-4">
            
            <div class="card">
             <!--<img src="{URL_DA_IMAGEM_SEDEX}" class="card-img-top" alt="Imagem SEDEX"> -->
                <div class="card-header">
                    <p class="text-center"><h4 class="text-center">Sedex</h4></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prazo para entrega até {{ temposedex }} dias</h5>
                    <p class="card-text">Escolha o serviço PAC para um prazo econômico de entrega. Ideal para quem busca um custo-benefício vantajoso.</p>
                    <h4><p class="text-center">R$ {{ valorsedex }}</p></h4>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card">
             <!--<img src="{URL_DA_IMAGEM_PAC}" class="card-img-top" alt="Imagem PAC">-->
                <div class="card-header">
                    <p class="text-center"><h4 class="text-center">Pac</h4></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Prazo para entrega até {{ tempopac }} dias</h5>
                    <p class="card-text">Escolha o serviço PAC para um prazo econômico de entrega. Ideal para quem busca um custo-benefício vantajoso.</p>
                    <h4><p class="text-center">R$ {{ valorpac }}</p></h4>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">

            <div class="card">
             <!--    <img src="{URL_DA_IMAGEM_MOTOBOY}" class="card-img-top" alt="Imagem Motoboy">-->
                <div class="card-header">
                    <p ><h4 class="text-center">Motoboy</h4></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Entrega Rápida Local entrega até 1 dia</h5>
                    <p class="card-text">Escolha o serviço PAC para um prazo econômico de entrega. Ideal para quem busca um custo-benefício vantajoso.</p>
                      <h4><p class="text-center">R$ {{ valormotoboy }}</p></h4>
                </div>
            </div>
        </div>
        
        {% endif %}
    </div>
    
      

{% endblock conteudo %}
